{% extends 'users/staff/staff_base.html' %}
{% load static %}
{% block content %}

<div class="container mx-auto max-w-md p-6 mt-32"> 
  <form action="" method="post">
      {% csrf_token %}
      <h1 class="text-2xl font-bold mb-4 text-center">Delete Profile</h1>
      <div class="bg-gray-100 p-4 mb-4 rounded flex justify-center items-center">
        {% if request.user.staff.profile_picture %}
              <img src="{{ request.user.staff.profile_picture.url }}" alt="Profile Picture" 
                  class="w-20 h-20 rounded-full mr-4 object-cover">
        {% else %}
              <img src="{% static 'images/profile.png' %}" alt="Default Profile Picture" 
                  class="w-20 h-20 rounded-full mr-4 object-cover">
        {% endif %}
        <p class="mb-2">Staff Name: {{ staff.name }}</p>
      </div>
      <p class="text-red-500 text-center mb-6">
        WARNING: This action is permanent and cannot be undone.
      </p>      
      <p class="text-red-500 mb-4 text-center"> Are you sure you want to delete ypur profile?</p>
      <div class="flex justify-center">
          <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 mr-2 rounded">
              Delete
          </button>
          <a href="{% url 'staff-profile' %}" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
              Cancel
          </a>
      </div>
  </form>
</div>

{% endblock %}