{% extends 'users/doctor/doctor_base.html' %}
{% load static %}
{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-5 mx-auto">
      <div class="flex justify-between mb-10">  
        <div class="flex flex-col text-center w-full">
          <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Upcoming Appointments</h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Stay informed and prepared with your upcoming medical appointments at a glance</p>
        </div>
      </div>
      <div class="lg:w-2/3 w-full mx-auto overflow-auto">        
        <form action="{% url 'doctor-dashboard' %}" method="GET" class="mb-4">
          <select name="filter" class="appearance-none bg-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
            <option value="today"{% if current_filter == 'today' %} selected{% endif %} class="bg-white hover:bg-blue-100">Today</option>
            <option value="tomorrow"{% if current_filter == 'tomorrow' %} selected{% endif %} class="bg-white hover:bg-blue-100">Tomorrow</option>
            <option value="past"{% if current_filter == 'past' %} selected{% endif %} class="bg-white hover:bg-blue-100">Past Appointments</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M10 12a2 2 0 100-4 2 2 0 000 4ZM3 10a7 7 0 1114 0 7 7 0 01-14 0Z"></path>
            </svg>
          </div>
          <button type="submit" class="ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Apply Filter
          </button>
        </form>
        <table class="table-auto w-full text-left whitespace-no-wrap">
          <thead>
            <tr>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Patient Name</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Appointment Date</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Start Time</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">End Time</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Mode</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for appointment in appointments %}
            <tr>
              <td scope="row" class="flex items-center px-4 py-3 text-gray-900 whitespace-nowrap">
                {% if appointment.patient.profile_picture %}
                    <img src="{{ appointment.patient.profile_picture.url }}" alt="Profile Picture" 
                        class="w-10 h-10 rounded-full mr-4 object-cover">
                {% else %}
                    <img src="{% static 'images/profile.png' %}" alt="Default Profile Picture" 
                        class="w-20 h-20 rounded-full mr-4 object-cover">
                {% endif %}
                <div class="ps-3">
                    <div class="text-base font-semibold">{{ appointment.patient }}</div>
                </div>  
              </td>
              <td class="px-4 py-3">{{ appointment.date }}</td>
              <td class="px-4 py-3">{{ appointment.start_time }}</td>
              <td class="px-4 py-3">{{ appointment.end_time }}</td>
              <td class="px-4 py-3">{{ appointment.mode }}</td>
              <td class="px-4 py-3">
                <div class="flex" >
                <a href="{% url 'appointment-detail-view' appointment.id  %}" title="View Appointment Details">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path d="M11.625 16.5a1.875 1.875 0 1 0 0-3.75 1.875 1.875 0 0 0 0 3.75Z" />
                    <path fill-rule="evenodd" d="M5.625 1.5H9a3.75 3.75 0 0 1 3.75 3.75v1.875c0 1.036.84 1.875 1.875 1.875H16.5a3.75 3.75 0 0 1 3.75 3.75v7.875c0 1.035-.84 1.875-1.875 1.875H5.625a1.875 1.875 0 0 1-1.875-1.875V3.375c0-1.036.84-1.875 1.875-1.875Zm6 16.5c.66 0 1.277-.19 1.797-.518l1.048 1.048a.75.75 0 0 0 1.06-1.06l-1.047-1.048A3.375 3.375 0 1 0 11.625 18Z" clip-rule="evenodd" />
                    <path d="M14.25 5.25a5.23 5.23 0 0 0-1.279-3.434 9.768 9.768 0 0 1 6.963 6.963A5.23 5.23 0 0 0 16.5 7.5h-1.875a.375.375 0 0 1-.375-.375V5.25Z" />
                  </svg>                  
              </a>
              {% if appointment.start_consultation %}
                <a href="#" title="Start Consultation">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" style="fill: lime;" />
                  </svg>  
                </a>
              {% else %}
                <a href="#" title="Please wait for the consultation time to begin." disabled>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                      <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" style="fill: lightcoral;" />
                  </svg>  
                </a>            
              {% endif %}          
            </div>        
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto">
        <a class="text-blue-500 inline-flex items-center md:mb-2 lg:mb-0">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
        <button class="flex ml-auto text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded">Button</button>
      </div>
    </div>
  </section>
{% endblock %}

