{% extends 'users/doctor/doctor_base.html' %}
{% load static %}
{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Upcoming Appointments</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Stay informed and prepared with your upcoming medical appointments at a glance</p>
      </div>
      <div class="lg:w-2/3 w-full mx-auto overflow-auto">
        <table class="table-auto w-full text-left whitespace-no-wrap">
          <thead>
            <tr>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Patient Name</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Appointment Date</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Start Time</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">End Time</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Mode</th>
              <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
            </tr>
          </thead>
          <tbody>
            {% for appointment in appointments %}
            <tr>
              <td scope="row" class="flex items-center px-4 py-3 text-gray-900 whitespace-nowrap">
                {% if appointment.patient.profile_picture %}
                    <img src="{{ appointment.patient.profile_picture.url }}" alt="Profile Picture" 
                        class="w-10 h-10 rounded-full mr-4 object-cover">
                {% else %}
                    <img src="{% static 'images/profile.png' %}" alt="Default Profile Picture" 
                        class="w-20 h-20 rounded-full mr-4 object-cover">
                {% endif %}
                <div class="ps-3">
                    <div class="text-base font-semibold">{{ appointment.patient }}</div>
                </div>  
              </td>
              <td class="px-4 py-3">{{ appointment.date }}</td>
              <td class="px-4 py-3">{{ appointment.start_time }}</td>
              <td class="px-4 py-3">{{ appointment.end_time }}</td>
              <td class="px-4 py-3">{{ appointment.mode }}</td>
              <td class="w-10 text-center">
                <input name="appointment" type="radio">
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto">
        <a class="text-blue-500 inline-flex items-center md:mb-2 lg:mb-0">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
        <button class="flex ml-auto text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded">Button</button>
      </div>
    </div>
  </section>
{% endblock %}
