{% extends 'users/patient/patient_base.html' %}
{% load static %}
{% block content %}

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">Patient</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ patient.name|default:request.user }}</h1>
          <div class="flex mb-4">
            <a href="{% url 'patient-profile' %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Details</a>
            <a href="{% url 'patient-update-profile' %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Update</a>
            <a href="{% url 'patient-delete-profile' %}" class="flex-grow text-indigo-500 border-indigo-500 border-b-2 py-2 text-lg px-1">Delete</a>
          </div>
            <h1 class="text-2xl font-bold mb-4">Delete Profile</h1>
            <p class="text-gray-700 mb-4">Are you sure you want to delete your profile? This action cannot be undone.</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 
                rounded focus:outline-none focus:shadow-outline">Yes, Delete My Profile</button>
                <a href="{% url 'patient-profile' %}" class="text-gray-600 ml-4 hover:underline">Cancel</a>
            </form>
        </div>
        {% include 'users/patient/patient_profile_picture.html' %}
      </div>
    </div>
  </section>

{% endblock %}