{% extends 'users/patient/patient_base.html' %}
{% load static %}
{% block content %}

<div class="container mx-auto mt-36 p-6">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">Patient Profile</h1>
    <div class="flex space-x-4">
      <a href="{% url 'patient-update-profile' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit</a>
      <a href="{% url 'patient-delete-profile' %}"><button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button></a>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="bg-white shadow-md rounded-md p-4">
      <div class="flex items-center mb-4">
          {% if request.user.patient.profile_picture %}
              <img src="{{ request.user.patient.profile_picture.url }}" alt="Profile Picture" 
                  class="w-20 h-20 rounded-full mr-4 object-cover">
          {% else %}
              <img src="{% static 'images/profile.png' %}" alt="Default Profile Picture" 
                  class="w-20 h-20 rounded-full mr-4 object-cover">
          {% endif %}
        <div>
          <h2 class="text-lg font-semibold" id="id_name">{{ patient.name }}</h2>
          <p id="id_email">{{ patient.email }}</p>
          <p id="id_phone">{{ patient.phone }}</p>
        </div>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="form-group">
          <label for="id_date_of_birth">Date of Birth:</label>
          <p id="id_date_of_birth">{{ patient.date_of_birth }}</p>
        </div>
        <div class="form-group">
          <label for="id_gender">Gender:</label>
          <p id="id_gender">{{ patient.gender }}</p>
        </div>
        <div class="form-group">
          <label for="id_address">Address:</label>
          <p id="id_address">{{ patient.address }}</p>
        </div>
      </div>
    </div>

    <div class="bg-white shadow-md rounded-md p-4">
      <h3 class="text-lg font-semibold mb-4">Medical Details</h3>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="form-group">
          <label for="id_blood_group">Blood Group:</label>
          <p id="id_blood_group">{{ patient.blood_group }}</p>
        </div>
        <div class="form-group">
          <label for="id_weight">Weight:</label>
          <p id="id_weight">{{ patient.weight }}</p>
        </div>
        <div class="form-group">
          <label for="id_height">Height:</label>
          <p id="id_height">{{ patient.height }}</p>
        </div>
        <div class="form-group">
          <label for="id_allergies">Allergies:</label>
          <p id="id_allergies">{{ patient.allergies }}</p>
        </div>
        <div class="form-group">
          <label for="id_medical_history">Medical History:</label>
          <p id="id_medical-history">{{ patient.medical_history }}</p> 
        </div>
      </div>
    </div>

    <div class="bg-white shadow-md rounded-md p-4 col-span-2"> 
      <h3 class="text-lg font-semibold mb-4">Emergency Contact</h3>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="form-group">
          <label for="id_emergency_contact_name">Name:</label>
          <p id="id_emergency_contact_name">{{ patient.emergency_contact_name }}</p> 
        </div>
        <div class="form-group">
          <label for="id_emergency_contact_phone">Phone:</label>
          <p id="id_emergency_contact_phone">{{ patient.emergency_contact_phone }}</p>  
        </div>
      </div>
    </div> 
  </div> 
</div>
{% endblock %}