<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center justify-between"> 
    {% if request.user.is_authenticated %}  
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="{% url 'patient-dashboard' %}" >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">VitiGo</span>
      </a>
        {% else %}
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="{% url 'landing-page' %}" >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">VitiGo</span>
          </a>
        {% endif %}
      <div>
      {% if request.user.is_authenticated %}
      <nav class="md:ml-auto flex flex-wrap items-center text-base">
        <a href="{% url 'patient-dashboard' %}" class="mr-5 hover:text-gray-900">Dashboard</a>
        <a href="#" class="mr-5 hover:text-gray-900">Scheduled Sessions</a>
        <a href="#" class="mr-5 hover:text-gray-900">My Bookings</a>
        <a href="{% url 'patient-guide' %}" class="mr-5 hover:text-gray-900">Guide</a>
        <a href="#" class="mr-5 hover:text-gray-900">Settings</a>
      </nav>
      </div>
    <div>     
      <span>Hello, {{ request.user }} </span>
      <a href="{% url 'patient-logout' %}"><button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Logout
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>
      </a>
        {% else %}
        <a href="{% url 'patient-login' %}"><button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Login
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
        </a>
        <a href="{% url 'patient-signup' %}"><button class="ml-3 inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Sign Up
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
        </a>
        {% endif %}
    </div>
    </div>
  </header>