{% extends 'users/base.html' %}
{% load static %}
{% block title %}Landing Page{% endblock %}
{% block content %}

<div class="flex flex-col h-screen">
  <div class="flex flex-1 items-center justify-center">
      <div class="container mx-auto flex flex-col md:flex-row items-center">
          <div class="md:w-1/2">
              <img src="{% static 'images/vitiligo.jpg' %}" alt="VitiGo Patient" class="w-full h-auto object-cover">
          </div>
          <div class="md:w-1/2 md:pl-10">
              <h2 class="text-4xl font-bold mb-4">Welcome to VitiGo Patient Management System</h2>
              <p class="text-lg text-gray-700 mb-6">Empowering patients with VitiGo through advanced management and support.</p>
              <div class="flex space-x-4">
                  <a href="{% url 'doctor-login' %}" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-6 rounded-full text-lg font-semibold shadow-md transition duration-300">Doctor</a>
                  <a href="{% url 'patient-login' %}" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-6 rounded-full text-lg font-semibold shadow-md transition duration-300">Patient</a>
                  <a href="{% url 'staff-login' %}" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-6 rounded-full text-lg font-semibold shadow-md transition duration-300">Staff</a>
              </div>
          </div>
      </div>
  </div>

  <footer class="bg-blue-600 text-white text-center py-4">
      <p>&copy; 2024 VitiGo Patient Management System. All rights reserved.</p>
  </footer>
</div>
{% endblock %}