{% extends 'users/doctor/doctor_base.html' %}

{% block content %}
  
<div class="container mx-auto mt-32 py-8">
    <div class="w-90 mx-auto bg-white rounded-lg shadow-md overflow-hidden">
        <div class="px-4 py-2">
            <h1 class="text-lg font-semibold text-gray-800">Query Details:</h1>
            <h2 class="text-sm xt-gray-600">This is the content of the first box.</h2>
        </div>
        <div class="px-4 py-2 bg-gray-100">
            <div class="w-full border px-4 py-2">
                <p>Query description: </p>{{ query.text }}
            </div>
            <div class="flex">
                <div class="w-full md:w-1/2 border px-4 py-2">
                    <p>Channel: </p>{{ query.channel }}
                </div>
                <div class="w-full md:w-1/2 border px-4 py-2">
                    <p>Category: </p>{{ query.category }}
                </div>
            </div>
            <div class="flex">
                <div class="w-full md:w-1/2 border px-4 py-2">
                    <p>Priority: </p> {% include 'query/colorCodes/priority.html' %}
                </div>
                <div class="w-full md:w-1/2 border px-4 py-2">
                    <p>Status: </p> {% include 'query/colorCodes/status.html' %}
                </div>
            </div>
            <div class="flex">
                <div class="w-full md:w-1/2 border px-4 py-2">
                    <p>Created at: </p>{{ query.created_at }}
                </div>
                <div class="w-full md:w-1/2 border px-4 py-2">
                    <p>Updated at: </p>{{ query.updated_at }}
                </div>
            </div>
            <div class="flex">
                <div class="w-full md:w-1/2 border px-4 py-2">
                    <p>Source details: </p>{{ query.source_details }}
                </div>
                <div class="w-full md:w-1/2 border px-4 py-2">
                    <p>IVR Option: </p>{{ query.ivr_option }}
                </div>
            </div>
            <div class="flex">
                <div class="w-full md:w-1/2 border px-4 py-2">
                    <p>Query Supporting document: </p> {{ query.supporting_document }}
                </div>
                <div class="w-full md:w-1/2 border px-4 py-2">
                    <p>Notes: </p> {{ query.notes }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mx-auto py-8">
    <div class="w-90 mx-auto bg-white rounded-lg shadow-md overflow-hidden">
        <div class="px-4 py-2">
            <h2 class="text-lg font-semibold text-gray-800">Resolution Box:</h2>
            <p class="text-sm text-gray-600">This is the content of the second box.</p>
        </div>
        <div class="px-4 py-2 bg-gray-100">
            <div class="flex">
                <div class="w-full md:w-1/2 border px-4 py-2">
                    <form method="post" class="px-4 py-2">
                        {% csrf_token %}
                        <label for="id_resolution_notes" class="block text-sm font-medium text-gray-700">Provide Resolution</label>
                        <textarea id="id_resolution_notes" name="resolution_notes" rows="4" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"></textarea>
                        <button type="submit" name="add_resolution" class="mt-4 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Submit Resolution</button>
                    </form>
                </div>
                <div class="w-full md:w-1/2 border px-4 py-2">
                    <div>
                        <form method="post">
                            {% csrf_token %}
                            <label for="priority" class="block text-sm font-medium text-gray-700">Priority:</label>
                            <select id="priority" name="priority" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                                <option value="HIGH">High</option>
                                <option value="MED">Medium</option>
                                <option value="LOW">Low</option>
                            </select>
                            <button type="submit" name="update_priority" class="mt-2 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Update Priority</button>
                        </form>
                        <form method="post">
                            {% csrf_token %}
                            <label for="status" class="block text-sm font-medium text-gray-700">Status:</label>
                            <select id="status" name="status" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                                <option value="OPEN">Open</option>
                                <option value="PROG">In-Progress</option>
                                <option value="RES">Resolved</option>
                                <option value="CLOSED">Closed</option>
                            </select>
                            <button type="submit" name="update_status" class="mt-2 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Update Status</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mx-auto py-8">
    <div class="w-90 mx-auto bg-white rounded-lg shadow-md overflow-hidden">
        <div class="px-4 py-2">
            <h2 class="text-lg font-semibold text-gray-800">Resolutions:</h2>
        </div>
        <div class="px-4 py-2 bg-gray-100">
            {% for resolution in resolutions %}
            <div class="flex flex-col md:flex-row border-b py-4">
                <div class="md:w-1/2 px-4 py-2 border-r">
                    {% if resolution.user.doctor %}
                        <p class="text-sm font-medium text-gray-700">Doctor Details:</p>
                        <p class="text-sm font-medium text-gray-700">{{ resolution.user.doctor.name }}</p>
                        <p class="text-sm font-medium text-gray-700">{{ resolution.user.doctor.specialization }}</p>
                        <p class="text-sm font-medium text-gray-700">Resolution Time: {{ resolution.resolution_time }}</p>
                    {% else %}
                      <p class="text-sm font-medium text-gray-700">Staff Details:</p>
                      <p class="text-sm font-medium text-gray-700">{{ resolution.user.staff.name }}</p>
                      <p class="text-sm font-medium text-gray-700">{{ resolution.user.staff.role }}</p>
                      <p class="text-sm font-medium text-gray-700">Resolution Time: {{ resolution.resolution_time }}</p>                  
                    {% endif %}
                </div>
                <div class="md:w-1/2 px-4 py-2">
                    <p class="text-sm font-medium text-gray-700">Resolution Notes:</p>
                    <p class="text-sm font-medium text-gray-700">{{ resolution.resolution_notes }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>




{% endblock %}
